body {
  font-family: 'Balsamiq Sans', cursive, serif;
  font-size: 16px;
  margin: 0px;
  background-image: url('../img/hypnotize_bg.png');
}

header {
  height: 25.5rem;
  background-image: url('../img/nature-banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

header img {
  width: 15rem;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 5rem;
}

header h1 {
  color: wheat;
  font-size: 5rem;
  width: 100%;
  height: 7rem;
  /* center the text middle
    https://vanseodesign.com/css/vertical-centering/#:~:text=When%20the%20element%20to%20be,order%20to%20center%20things%20vertically.
  */
  line-height: 7rem;
  background-color: rgba(0.5, 0.5, 0.5, 0.5);
}

nav {
  padding-top: 1rem;
  background-color: teal;
  position: fixed;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  color: antiquewhite;
  display: inline-block;
  padding: 0.75rem 1.24rem;
  margin-right: 1.5rem;
}

.meet,
.gallery,
.quote,
.location {
  padding: 0.75rem 1.24rem;
}

.meet {
  
}

.gallery img {
  display: block;
  width: 30%;
  margin: 1.5%;
  float: left;
}
/* clear the next element following my img */
.clearfix {
  clear: both;
}

.quote q, .location p {
  font-size: 2.5rem;
}

.quote {
  background-color: teal;
  color: antiquewhite;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.location p {
  text-align: center;
}

.location img {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 960px) {
  header {
    height: 16rem;
  }

  header h1 {
    font-size: 1.2rem;
    height: 4rem;
    line-height: 4rem;
  }
}

@media only screen and (max-width: 700px) {
  nav {
    position: unset;
  }
  li {
    display: block;
    padding: 0.5rem 0.9rem;
    text-align: center;
  }

  .gallery img {
    width: 100%;
    margin: 0;
  }

  .location img {
    width: 100%;
    margin: 0;
  }

  .quote q, .location p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 470px) {
  .quote q, .location p {
    font-size: 1.3rem;
  }

  .quote p {
    font-size: 1rem;
  }
}